<style>
    #bhumij_index_logo_m {
        width:  100%;
        height: 50px;
    }
    #bhumij_index_dd_m {
        width: 20px;
        height: 20px;
    }
    #bhumij_index_login_m,#bhumij_index_cart_m  {
        width: 20px;
        height: 20px;
    }

    a {
        text-decoration: none;
        color: #000;
    }
</style>
<div class="container-fluid mt-2">
    <div class="row d-flex d-md-none align-items-center">
        <div class="col-2">
            <!-- Trigger Image -->
            <img src="{{ url_for('static', filename='images/icons/drop_down_icon.png')}}"
                alt="drop_down-icon" 
                id="bhumij_index_dd_m"
                class="img-fluid"
                type="button"
                data-bs-toggle="offcanvas" 
                data-bs-target="#sideMenu" 
                aria-controls="sideMenu">

            <!-- Offcanvas Menu -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sideMenuLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="list-unstyled">
                {#
                <!-- <li><a href="{{ url_for('live_plants') }}" class="nav-link">Live Plants</a></li>
                <li><a href="#" class="nav-link">Pot & Planters</a></li>
                <li><a href="#" class="na
                    v-link">Garden Needs</a></li>
                <li><a href="#" class="nav-link">Germination Seeds</a></li> -->
                #}
                {% for cat in main_categories %}
                    <li>
                        <!-- Use url_for to generate the route -->
                        <a href="{{ url_for('show_category', category_name=cat) }}">
                            {{ cat }}
                        </a>
                    </li>
                {% endfor %}
                <li><a href="#" class="nav-link">Offers</a></li>
                <li><a href="#" class="nav-link">Photo Gallery</a></li>
                </ul>
            </div>
            </div>

            <!-- <img src="{{ url_for('static', filename='images/icons/drop_down_icon.png')}}" alt="drop_down-icon" class="img-fluid" id="bhumij_index_dd_m"> -->
        </div>
        <div class="col-8">
            <a href="{{ url_for('index_page') }}">
                <img src="{{ url_for('static', filename='images/logos/bhumij_logo.webp')}}" alt="bhumij_logo" class="img-fluid" id="bhumij_index_logo_m">
            </a>
        </div>
        <div class="col-2">
            <img src="{{ url_for('static', filename='images/icons/login_icon.png')}}" alt="login_icon" class="img-fluid" id="bhumij_index_login_m">
            <img src="{{ url_for('static', filename='images/icons/cart_icon.png')}}" alt="cart_icon" class="img-fluid" id="bhumij_index_cart_m">
        </div>
    </div>
    <div class="row d-flex d-md-none align-items-center mt-3">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
            </div>
        </nav>
    </div>
    <div class="row d-none d-md-flex align-items-center">
        <div class="col-3">
            <a href="{{url_for('index_page')}}">
                <img src="{{ url_for('static', filename='images/logos/bhumij_logo.webp')}}" alt="bhumij_logo">
            </a>
        </div>
        <div class="col-8">
            <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-1 text-center">
            <img src="{{ url_for('static', filename='images/icons/login_icon.png')}}" alt="login_icon" class="img-fluid" id="bhumij_index_login_m">
            <img src="{{ url_for('static', filename='images/icons/cart_icon.png')}}" alt="cart_icon" class="img-fluid" id="bhumij_index_cart_m">
        </div>
    <div class="row align-items-center d-none d-md-flex mt-3">
        <ul class="d-flex justify-content-center gap-4 list-unstyled ">
            {#
            <!-- <li><a href="{{ url_for('live_plants') }}"> Live Plants </a></li>
            <li><a href="#"> Pot & Planters </a></li>
            <li><a href="#"> Garden Needs </a></li>
            <li><a href="#"> Germination Seeds </a></li> -->
            #}
            {% for cat in main_categories %}
                <li>
                    <!-- Use url_for to generate the route -->
                    <a href="{{ url_for('show_category', category_name=cat) }}">
                        {{ cat }}
                    </a>
                </li>
            {% endfor %}
            <li><a href="#"> Offers </a></li>
            <li><a href="#"> Photo Gallery </a></li>
        </ul>
    </div>
    </div>
</div>