<style>
    #nav_bar {
        background-color: black;
        color: white;
    }
</style>

<div id="nav_bar" class="container text-center">
    <div class="row align-items-center d-flex justify-content-around">
      <div class="col">
        <div class="dropdown">
            <a class="btn text-light dropdown-toggle" 
              href="/live_plants/live_plants_index.html" 
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Live Plants
            </a>            
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
      </div>
      <div class="col">
        <div class="dropdown">
            <a class="btn text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pots & Planters
            </a>            
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
      </div>
      <div class="col">
        <div class="dropdown">
            <a class="btn text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Garden Needs
            </a>            
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
      </div>
      <div class="col">
        <div class="dropdown">
            <a class="btn text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Germination Seeds
            </a>            
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
      </div>
      <div class="col">
        Combos- Plants, Pots & Planters
      </div>
      <div class="col">
        Flash Sale
      </div>
    </div>
</div>