<style>
    #top_products{
        display: flex;
        height: 50px;
        margin : 10px 0 0 0;
    }

    #top_product_header {
        width: 50%;
        display: flex;
        align-items: center ;
        font-size: large;
        /* border: solid black 1px; */

    }

    #top_product_see_all{
        width: 50%;
        float: right;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        /* border: solid black 1px; */
    }
</style>


<div id="top_products">
    <div id="top_product_header">
        <h3>Top Products</h3>
    </div>
    <div id="top_product_see_all">
        <a href="#">see all</a>
    </div>
</div>
<div id="top_product_carousal">
    <p>Image carousal</p>
</div>